<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <title>gubkinmult.ru</title>
        <link rel="stylesheet" href="{% block css %}{% static 'css/mainpage.css' %}{% endblock %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>

    <body>
        <header>
            <div id="header" class="header" class="container-fluid" id = 'head'>
                <img src="{% static 'img/main.jpg' %}">
                <button type="button" class="btn btn-dark" id = 'auth'>Авторизация</button>
             </div>
             <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Главная</button>
                <button type="button" class="btn btn-secondary">Контактные данные</button>
                <button type="button" class="btn btn-secondary">Поиск</button>
              </div>
        </header>